html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family: "Open Sans";
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#disclaimer {
    border:3px;
    border-style:solid;
    border-color:darkgray;
    padding: 1em;
    align-content: center;
    margin: auto;
    width:35%;
    background-color: white;
}

.overlay .accept {
    margin: auto
    font-size: 60px;
}

#leftPane {
    width:20%;
    margin:0;
    border:none;
}
#map {
    padding:0;
}

.esriScalebarLabel, 
.esriScalebarLineLabel, 
.esriScalebarSecondNumber, 
.esriScaleLabelDiv  
{  
    text-shadow:  
        -1px -1px 0 #fff,    
        1px -1px 0 #fff,  
        -1px 1px 0 #fff,  
        1px 1px 0 #fff;  
}  

.calcite .esriScalebarLine {
    border-color: white;
}

#search {
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 70px;
}

.nav {
    padding: 5px 10px;
    background: #4479BA;
    color: #FFF;
    border-radius: 5px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

}

#objective {
    padding: 0px 10px;
}

#treeDropDown {
    padding-left: 0px;
}

#treeSelectionDrop {
    padding: 1px 20px;
    text-align: left;
}

#polygonbtn {
    padding-left: 0px;
    padding-top: 5px;
}

#drawPolygon {
    padding: 5px;
}

#output {
    padding: 0px 10px;
}
#info {
    color: #444;
    height: auto;
    font-family: arial;
    margin: 5px;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 300px;
    z-index: 50;
    white-space:wrap
}

#soilList {
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#printButton {

}

#header {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-bottom: solid 1px #ccc;
}

#measurementBox {
    background-color: #fff;
    overflow:hidden;
    font-family: arial;
    border:solid 1px #444;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    margin:5px;
    padding:0px;
}

#titlePane {
    width:280px;
}


